<div class="panel panel-default">
    <div class="panel-heading">
        <h5>Admin</h5>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {{#link-to 'admin.createUser' class="list-group-item"}}
                Create User
            {{/link-to}}
        </div>
    </div>
</div>
