<div class="panel panel-default">
    <div class="panel-heading"><h5>Open Conversations:</h5></div>
    <div class="panel-body">
        <div class="list-group">
            {{#each conversations}}
                {{#if user}}
                {{#link-to 'conversation.user' id class="list-group-item"}}
                    {{user.name}}
                    {{#if newMessages}}
                        <span class="badge">{{newMessages}}</span>
                    {{/if}}
                {{/link-to}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
