<div class="panel panel-default">
    <div class="panel-heading"><h5>Open Conversations:</h5></div>
    <div class="panel-body">
        <div class="list-group">
            {{#each conversations}}
                {{partial "partials/_conversationUserBtn"}}
                {{#if conversation.user}}
                    {{#with conversation.user}}

                    {{/with}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
