<div class="panel panel-default conversation-list">
    <div class="panel-heading"><h5>Open Conversations:</h5></div>
    <div class="panel-body">
        <div class="list-group">
            {{#each conversations}}
                {{#if user}}
                    {{partial "partials/_userConversationBtn"}}
                {{else}}
                    {{partial "partials/_roomConversationBtn"}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
