<div class="panel panel-default">
    <div class="panel-heading"><h5>Open Conversations:</h5></div>
    <div class="panel-body">
        <div class="list-group">
            {{#each conversations}}
                {{#if user}}
                    {{#with user}}
                        {{partial "partials/_conversationUserBtn"}}
                    {{/with}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
