<div class="panel panel-default">
    <div class="panel-heading">
        {{#if EmberChat.Session.authenticated}}
            <h5>Hallo {{user.name}}</h5>
        {{else}}
            <h5>Welcome to EmberChat</h5>
        {{/if}}
    </div>
    <div class="panel-body">
        {{#if EmberChat.Session.authenticated}}
            <div class="list-group">
                {{#link-to 'rooms' class="list-group-item"}}
                    Rooms / Users
                {{/link-to}}
                {{#link-to 'profile' class="list-group-item"}}
                    Profile
                {{/link-to}}
            </div>
        {{/if}}
        {{#if isOnline}}
            <div class="btn-group btn-block">
                <div class="row">
                    <div class="col-sm-6">
                        <button {{action 'disconnect'}}type="button" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-ok"></span> online
                        </button>
                    </div>
                    <div class="col-sm-6">
                        {{#if EmberChat.Session.authenticated}}
                            <button {{action 'logout'}} type="submit" class="btn btn-danger btn-block">Logout</button>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>