{{#if isOnline}}
<div class="panel panel-default">
    <div class="panel-body">
        {{#if EmberChat.Session.authenticated}}
            <div class="list-group">
                {{#link-to 'rooms' class="list-group-item"}}
                    <i class="fa fa-home"></i> Rooms / Users
                {{/link-to}}
                {{#link-to 'profile' class="list-group-item"}}
                    <i class="fa fa-cog"></i>Your profile
                {{/link-to}}
            </div>
        {{/if}}

            <div class="btn-group btn-block">
                <div class="row">
                    <div class="col-sm-6">
                        <button {{action 'disconnect'}}type="button" class="btn btn-success btn-block">
                            <span class="fa fa-signal"></span> online
                        </button>
                    </div>
                    <div class="col-sm-6">
                        {{#if EmberChat.Session.authenticated}}
                            <button {{action 'logout'}} type="submit" class="btn btn-danger btn-block">
                                <i class="fa fa-sign-out"></i> Logout
                            </button>
                        {{/if}}
                    </div>
                </div>
            </div>

    </div>
</div>
{{/if}}