<div class="panel panel-default">
    <div class="panel-heading"><h5>Hallo {{user.name}}</h5></div>
    <div class="panel-body">
        <div class="list-group">
            {{#link-to 'index' class="list-group-item"}}
                List
            {{/link-to}}
        </div>
        <div class="btn-group btn-block">
            {{#if isOnline}}
                <button {{action 'disconnect'}}type="button" class="btn btn-success btn-block">
                    <span class="glyphicon glyphicon-ok"></span> online
                </button>
            {{else}}
                <button {{action 'connect'}} type="button" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-remove"></span> offline
                </button>
            {{/if}}
        </div>

    </div>
</div>