<div class="panel panel-default user-list spread-v">
    <div class="panel-heading"><h5>Available Users:</h5></div>
    <div class="panel-body scroll-v">
        <div class="list-group">
            {{#each users}}
                {{#link-to 'conversation.user' id class="list-group-item name"}}
                    <i {{bind-attr class=":fa :fa-user online:text-success"}}></i>
                    {{name}}
                {{/link-to}}
            {{/each}}
        </div>
    </div>
</div>
