<div class="panel panel-default userlist">
    <div class="panel-heading"><h5>Available Users:</h5></div>
    <div class="panel-body">
        <div class="list-group">
            {{#each users}}
                {{partial "partials/_conversationUserBtn"}}
            {{/each}}
        </div>
    </div>
</div>
