<div class="panel panel-default userlist">
    <div class="panel-heading"><h5>Available Users:</h5></div>
    <div class="panel-body">
        <div class="list-group">
            {{#each users}}
                {{#link-to 'conversation.user' id class="list-group-item"}}
                    {{#if online}}
                        <span class="label label-success">&nbsp;</span>
                    {{else}}
                        <span class="label label-default">&nbsp;</span>
                    {{/if}}
                    {{name}}
                {{/link-to}}
            {{/each}}
        </div>
    </div>
</div>
