@import "theme";

@mixin one-liner() {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

@mixin break-words(){
  -ms-word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.user-list{
  .name{
    @include one-liner();
  }
}
.conversation-list{
  .name{
    @include one-liner();
  }
}


.icon-group {
  a {
    color: white;
  }
  label{
    padding: 5px;
  }
}

@import "layout";
@import "conversation";