
// overwrite fonts path for bootstrap
$icon-font-path: "../fonts/";

@import "bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap";

@import "libs/themes/superhero";


/* Put your CSS here */
html, body {
    margin: 10px 0;
}


.main-content{
  padding-left: 0;
  padding-right: 0;
}

.col-centered{
  float: none;
  margin: 0 auto;
  p.centered{
    text-align: center;
  }
}

.conversation-content{
  max-height: 217px;
  height: 217px;
  overflow: scroll;
  // something like "user joined"
  .info{
    color: darkgrey;
  }
}