@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 10px 0;
}


.conversation-content{
  max-height: 217px;
  height: 217px;
  overflow: scroll;
  // something like "user joined"
  .info{
    color: darkgrey;
  }
}