{{#with view.content}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                Advice
                {{#if static}}
                    <span class="fa fa-times-circle-o fa-lg close-action pull-right"></span>
                {{/if}}
            </h4>

        </div>
        <div class="panel-body">
            {{message}}
        </div>
    </div>
{{/with}}