{{#link-to 'conversation.user' id class="list-group-item"}}
    {{#if online}}
        <span class="label label-success">o</span>
    {{else}}
        <span class="label label-default">o</span>
    {{/if}}
    {{name}}
{{/link-to}}