<div class="panel-body conversation-content">
    {{#each conversation.content}}
        {{#if info}}
            <p class="info">{{content}}</p>
        {{else}}
            <p><strong>{{user}}</strong>: {{content}}</p>
        {{/if}}

    {{/each}}
</div>