<div class="panel-heading conversation">
    <div class="row">
        <div class="col-xs-10">
            <h4 class="name">
                {{conversation.name}}
            </h4>
        </div>
        <div class="col-xs-2">
            <h4>
                <a href="#" {{action "close"}} class="pull-right" data-toggle="tooltip" data-placement="bottom" title="leave this">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </h4>
        </div>
    </div>
</div>