{{#link-to 'conversation.room' id class="list-group-item name"}}
    {{name}}
    {{#if newMessages}}
        <span class="label label-success pull-right">
            {{newMessages}}
        </span>
    {{/if}}
{{/link-to}}