{{#link-to 'conversation.room' id class="list-group-item name"}}
    <i class="fa fa-group"></i> {{name}}
    {{#if newMessages}}
        <span class="pull-right">
            {{newMessages}}
        </span>
    {{/if}}
{{/link-to}}