{{#link-to 'conversation.user' id class="list-group-item"}}
    {{name}}
    {{#if user.online}}
        <span class="label label-success pull-right">
            {{#if isEncrypted}}
                <span class="glyphicon glyphicon-eye-close"></span>
            {{/if}}
            {{newMessages}}
        </span>
    {{else}}
        <span class="label label-default pull-right">{{newMessages}}</span>
    {{/if}}
{{/link-to}}