{{#if EmberChat.versionConflict}}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Update available</h3>
            </div>
            <div class="panel-body">
                <p>
                    Currently you are using EmberChat <span class="label label-danger">{{EmberChat.versionWebApp}}</span> .
                    Server depends EmberChat <span class="label label-danger">{{EmberChat.versionServer}}</span>
                </p>
                <p>
                    <a class="btn btn-success" href="#" {{action openHomepage}}>
                        Get EmberChat {{EmberChat.versionServer}}
                    </a>
                </p>
            </div>
        </div>
    </div>
{{/if}}