<div class="container-fluid spread-v" id="main">
    <div class="row content-wrapper spread-v">
        <div class="col-sm-9 col-sm-push-3 main-content spread-v">
            <div class="col-sm-8">
                {{partial 'partials/versionConflict'}}
                {{app-advice}}
            </div>
            {{outlet class="spread-v"}}
        </div>
        <div class="col-sm-3 col-sm-pull-9">
            {{#if EmberChat.Session.authenticated}}
                {{conversation-list
                conversationsBinding="EmberChat.Session.conversationsSorted"
                unAuthenticate="unAuthenticate"
                disconnect="disconnect"
                openExternal="openExternal"
                }}
            {{/if}}
        </div>
    </div>
</div>
