<div class="col-xs-8">
    <div class="panel-heading">
        <h5>Rooms..</h5>
    </div>
    <div class="panel-body">
        tbd..
    </div>
</div>

<div class="col-xs-4">
    {{user-list}}
</div>