<div class="col-sm-8">
    <div class="panel panel-default userlist">
        <div class="panel-heading"><h4>Rooms</h4></div>
        <div class="panel-body">
            <div class="list-group">
                {{#each rooms}}
                    {{#link-to 'conversation.room' id class="list-group-item"}}
                        {{name}}
                    {{/link-to}}
                {{/each}}
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    {{room-create existingRoomsBinding="rooms"}}
                </div>
                <div class="col-sm-6">
                    {{#if EmberChat.Session.isAdmin}}
                        {{#link-to 'admin.createUser' class="btn btn-warning btn-block"}}
                            <i class="fa fa-user"></i> Create User
                        {{/link-to}}
                    {{/if}}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-sm-4 spread-v">
    {{user-list usersBinding="EmberChat.Session.availableUsersSorted" class="spread-v"}}
</div>