<div class="col-xs-8">
    <div class="panel panel-default userlist">
        <div class="panel-heading"><h4>Rooms</h4></div>
        <div class="panel-body">
            <p>Come from server, no function so far: </p>
            <div class="list-group">
                {{#each content}}
                    {{#link-to 'conversation.room' id class="list-group-item"}}
                        {{name}}
                    {{/link-to}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="col-xs-4">
    {{user-list}}
</div>